.mycontainer {
  margin: 0 250px;
}

.btn-grey {
  background-color: #eadcf0;
}

.btn-grey:hover {
  background-color: #d0d5dd;
}

.button {
  padding: 24px 32px;
  border-radius: 10px;
}

.linkbold {
  font-weight: 600;
}

.circleimages {
  max-width: 70px;
  padding: 40px 20px;
}
